body {
  overflow-x: hidden;
}

.app {
  display: flex;

  .wrapper {
    padding: 1rem 2rem;
    width: fit-content;
    height: 100vh;
    flex-shrink: 0;
  }

  .board {
    flex-grow: 10000;
    display: grid;
    place-items: center;
    padding: 3rem;
    overflow: auto;

    .worm {
      filter: drop-shadow(0 0 30px hsla(0, 100%, 0%, 0.33));
      white-space: nowrap;
      width: fit-content;
      display: flex;

      .worm__block {
        animation: worm 400ms linear alternate infinite, fade 500ms linear;
        opacity: 0;
        animation-fill-mode: forwards;
        flex-shrink: 0;
        position: relative;

        .eyes,
        .mouth {
          background-color: black;
          opacity: 0.6;
        }
      }
    }
  }
}

input {
  display: block;
  min-width: 16rem;
  width: 100%;
}

svg {
  transform: scale(0.8) translateY(5px);
  margin-left: 5px;
}

@keyframes worm {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
